.text{
    background-color:darkorange;
}


.text{
    text-align: center;
}

body{
    background-color: bisque;
}

.grid{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    
}

.grid img {
    border: 2px solid black;
    border-radius: 50px;

}

.items{
    background-color: white;
    border-radius: 20px;
    width: 300px;
    font-family: fantasy;

}
